<link rel="stylesheet" href="//res.layui.com/layui/dist/css/layui.css"  media="all">

<div class="layui-form-item">
    <label class="layui-form-label">单选框</label>
    <div class="layui-input-block">
        <input name="sex" value="男" title="男" checked="" type="radio"><div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i><div>男</div></div>
        <input name="sex" value="女" title="女" type="radio"><div class="layui-unselect layui-form-radio layui-form-radioed"><i class="layui-anim layui-icon layui-anim-scaleSpring"></i><div>女</div></div>
        <input name="sex" value="禁" title="禁用" disabled="" type="radio"><div class="layui-unselect layui-form-radio layui-radio-disbaled layui-disabled"><i class="layui-anim layui-icon"></i><div>禁用</div></div>
    </div>
</div>