<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>个人信息</title>
    <link type="text/css" rel="stylesheet" href="__CDN__/assets/css/wechat/mall.css"/>
</head>
<body class="body_color">
<div id="child_header">
    <div class="goback"><a href="javascript:history.back(-1)"><i></i></a></div>
    <div class="current_location"><span>个人信息</span></div>

</div>
<div class="user_info">
    <ul>
        <li><span>头像</span><img class="info_img1" src="{$info.headimgurl}"></li>
        <li><span>昵称</span><input class="info_input" type="text" value="{$info.nickname}"></li>
        <li><span>性别</span><input class="info_input" type="text" value="{$info.sex}"></li>
        <li><span>真实姓名</span><input class="info_input" type="text" value="{$info.real_name}"></li>
        <li><span>身份证号</span><input class="info_input" type="text" value="{$info.id_card}"></li>
        <li><span>国家</span><input class="info_input" type="text" value="{$info.country}"></li>
        <li><span>省份</span><input class="info_input" type="text" value="{$info.province}"></li>
        <li><span>城市</span><input class="info_input" type="text" value="{$info.city}"></li>
        <!--<li><span>手机号</span><input class="info_input" type="text" value="{$info.phone}"></li>-->
        <!--<li><span>邮箱</span><input class="info_input" type="text" value="{$info.email}"></li>-->
        <!--<li><span>绑定时间</span><input class="info_input" type="text" value="{$info.bind_time}"></li>-->
       
    </ul>
</div>
</body>
</html>