<div class="row">
    <div class="col-xs-12">
        <div class="box box-default layui-layer-padding">
            <div class="box-header">
                <h3 class="box-title">重要提醒</h3>
            </div>
            <div class="box-body table-responsive">
                <div class="col-xs-4">
                    <div class="alert alert-warning alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-warning"></i> 质证提示!</h4>
                        某某某对证据提出质疑
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-warning"></i> 组庭提示!</h4>
                        已经组庭了，如对仲裁员有异议，可申请回避
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="alert alert-info alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-warning"></i> 答辩提示!</h4>
                        当事人提出了答辩申请
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <div class="box box-success">
            <div class="box-header">
                <h3 class="box-title">基本资料</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                        <b>申请方</b> <a class="pull-right">{$jibenziliao['shenqingr']}</a>
                    </li>
                    <li class="list-group-item">
                        <b>申请时间</b> <a class="pull-right">{$jibenziliao['addtime']}</a>
                    </li>
                    <li class="list-group-item">
                        <b>当前状态</b> <a class="pull-right">{$jibenziliao['status']}</a>
                    </li>
                    <li class="list-group-item">
                        <b>费用</b> <a class="pull-right">{$jibenziliao['money']}</a>
                    </li>
                </ul>


            </div>

            <!-- /.box-body -->
        </div>
        {$sqhtml}
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">相关人员</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <th>姓名/机构名称</th>
                        <th>身份证/机构组织代码</th>
                        <th>身份</th>
                        <th>电话/备注</th>

                    </tr>
                    {volist name="dangshiren" id="vo"}
                    <tr>
                        <td>{$vo.name}</td>
                        <td>{$vo.id_num}</td>
                        <td>
                            {$vo.role}
                        </td>
                        <td>
                            {$vo.phone}
                        </td>

                    </tr>
                    {/volist}

                    </tbody>
                </table>

            </div>

            <!-- /.box-body -->
        </div>


        <div class="box  box-warning">
            <div class="box-header">
                <h3 class="box-title">答辩申请</h3>
            </div>
            <div class="box-body">


                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <th>申请人</th>
                        <th>类型</th>

                        <th>查看详情</th>

                    </tr>
                    {volist name="zhongcaiyuan" id="vo"}
                    <tr>
                        <td>{$vo.name}</td>
                        <td>申请回避</td>

                        <td>
                            <a href="{:url('admin/dossier.cp/doclist', 'id='.$d_id.'&gid=6&extid='.$vo.id, '')}"
                               class="btn btn-info btn-xs btn-detail btn-dialog" title="查看" data-table-id="table"
                               data-row-index="0" data-button-index="0"><i class="fa fa-list"></i>
                                详情</a>
                        </td>

                    </tr>
                    {/volist}

                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="col-xs-6">
        <div class="box  box-warning">
            <div class="box-header">
                <h3 class="box-title">操作</h3>
            </div>
            <div class="box-body">


                <div class="col-xs-12">

                    <button type="button" class="btn btn-success">受理</button>
                    <button type="button" class="btn btn-warning">拒绝</button>
                    <button type="button" class="btn btn-yahoo">答辩</button>
                    <button type="button" class="btn btn-bitbucket">质证</button>
                    <button type="button" class="btn btn-danger">组庭</button>
                    <button type="button" class="btn btn-success">申请仲裁员回避</button>
                    <button type="button" class="btn btn-warning">仲裁披露</button>
                </div>

            </div>
        </div>

        {$shouliwenjian}
        {$zutingwenjian}
        <div class="box  box-warning">
            <div class="box-header">
                <h3 class="box-title">仲裁员</h3>
            </div>
            <div class="box-body">

                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <th>姓名</th>
                        <th>身份证</th>

                        <th>申请回避</th>

                    </tr>
                    {volist name="zhongcaiyuan" id="vo"}
                    <tr>
                        <td>{$vo.name}</td>
                        <td>{$vo.id_num}</td>

                        <td>
                            <a href="{:url('admin/dossier.cp/doclist', 'id='.$d_id.'&gid=6&extid='.$vo.id, '')}"
                               class="btn btn-info btn-xs btn-detail btn-dialog" title="查看" data-table-id="table"
                               data-row-index="0" data-button-index="0"><i class="fa fa-list"></i>
                                申请回避</a>
                        </td>

                    </tr>
                    {/volist}

                    </tbody>
                </table>
                <div class="layui-layer-title no-padding">披露/回避列表</div>
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <th>申请人</th>
                        <th>类型</th>

                        <th>查看详情</th>

                    </tr>
                    {volist name="zhongcaiyuan" id="vo"}
                    <tr>
                        <td>{$vo.name}</td>
                        <td>申请回避</td>

                        <td>
                            <a href="{:url('admin/dossier.cp/doclist', 'id='.$d_id.'&gid=6&extid='.$vo.id, '')}"
                               class="btn btn-info btn-xs btn-detail btn-dialog" title="查看" data-table-id="table"
                               data-row-index="0" data-button-index="0"><i class="fa fa-list"></i>
                                详情</a>
                        </td>

                    </tr>
                    {/volist}

                    </tbody>
                </table>
            </div>
        </div>


        <div class="box  box-warning">
            <div class="box-header">
                <h3 class="box-title">质证申请</h3>
            </div>
            <div class="box-body">


                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <th>申请人</th>
                        <th>类型</th>

                        <th>查看详情</th>

                    </tr>
                    {volist name="zhongcaiyuan" id="vo"}
                    <tr>
                        <td>{$vo.name}</td>
                        <td>申请回避</td>

                        <td>
                            <a href="{:url('admin/dossier.cp/doclist', 'id='.$d_id.'&gid=6&extid='.$vo.id, '')}"
                               class="btn btn-info btn-xs btn-detail btn-dialog" title="查看" data-table-id="table"
                               data-row-index="0" data-button-index="0"><i class="fa fa-list"></i>
                                详情</a>
                        </td>

                    </tr>
                    {/volist}

                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

 