{$view_content}


<p style="text-align:center;line-height:48px">
    <span style="font-size:35px;font-family:楷体">石家庄仲裁委员会</span>
</p>
<p style="text-align:center;line-height:42px">
    <span style="font-size:29px;font-family:黑体">组庭通知书</span>
</p>
<p style="text-align:center;line-height:42px">
    <span style="font-size:24px;font-family:楷体">（简易程序）</span>
</p>
<p style="text-align:center;line-height:34px">
    <span style="font-size:24px;font-family:楷体">石裁字[&nbsp;&nbsp;&nbsp; ]第&nbsp;&nbsp;&nbsp; 号</span>
</p>
<p>
    <span style="font-size:21px;font-family:仿宋">&nbsp;</span>
</p>
<p style="line-height:300%">
    <span style="font-size:21px;line-height:300%;font-family:黑体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 申 请 人：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
</p>
<p style="line-height:300%">
    <span style="font-size:21px;line-height:300%;font-family:黑体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 被申请人：</span>
</p>
<p>
    <span style="font-size:21px;font-family:仿宋">&nbsp;</span>
</p>
<p style="margin-left:21px;text-indent:21px">
    <span style="font-size:21px;font-family:仿宋">在申请人与被申请人因<span style="text-decoration:underline;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>争议</span>
</p>
<p>
    <span style="font-size:21px;font-family:仿宋">案中，根据当事人的选定或本会主任指定，由<span style="text-decoration:underline;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>任独任仲裁员，组成仲裁庭审理本案。</span>
</p>
<p style="text-indent:43px">
    <span style="font-size:21px;font-family:仿宋">特此通知。</span>
</p>
<p style="text-indent:43px">
    <span style="font-size:21px;font-family:仿宋">&nbsp;</span>
</p>
<p style="text-indent:43px">
    <span style="font-size:21px;font-family:仿宋">&nbsp;</span>
</p>
<p style="text-indent:43px">
    <span style="font-size:21px;font-family:仿宋">&nbsp;</span>
</p>
<p style="text-indent:43px">
    <span style="font-size:21px;font-family:仿宋">&nbsp;</span>
</p>
<p style="text-indent:43px">
    <span style="font-size:21px;font-family:仿宋">&nbsp;</span>
</p>
<p style="text-indent:43px">
    <span style="font-size:21px;font-family:仿宋">&nbsp;</span>
</p>
<p style="text-indent:43px">
    <span style="font-size:21px;font-family:仿宋">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-size:21px;font-family:仿宋">年&nbsp;&nbsp;&nbsp; 月&nbsp;&nbsp;&nbsp; 日</span>
</p>
<p>
    &nbsp;
</p>
<p>
    &nbsp;
</p>
<p>
    &nbsp;
</p>
<p>
    <br/>
</p>