<head>
    <style>
        .xywrap{width:650px; height: 978px}
    </style>
</head>
<div class="xywrap">
    <section class="title">{$d.jigou.info.name}</section>
    <div class="main_info">
        <p><span class="little_title" >仲裁员指定通知书</span></p>
    </div>

    <div class="content">
        <p class="kongtwo">
            由于<!--{$d.users.role.1.0.name}-->申请人与被申请人约定共同委托本会主任指定一名仲裁员，根据《中华人民共和国仲裁法》第31条之规定，指定{$d.jigou.arbitrator.0.name}为本案独任仲裁员。

        </p>
    </div>

    <div class="xieyi_right_btm">
        <p class="people" style="margin-right: 80px">&nbsp;&nbsp;<span style="color: #ffffff">{$d.sign.imgs.0}</span></p>
        <br/><br/>
        <p class="date">{$d.sign.time.string} </p>
    </div>
</div>