<p style="margin-top:21px;margin-right:0;margin-bottom:21px;margin-left:0;text-align:center">
    <span style="font-size:29px;font-family:黑体">仲裁申请书</span>
</p>
<p style="text-indent:43px;line-height:39px">
    <span style="font-size:21px;font-family:黑体">申请人</span><span style="font-size:21px;font-family:仿宋">:XXX</span><span style="font-size:21px;font-family:仿宋">（自然人的姓名、性别、民族、出生年月日、身份证号、工作单位、邮政编码、联系电话；法人或者非法人组织的名称、邮政编码、联系电话）</span>
</p>
<p style="text-indent:43px;line-height:39px">
    <span style="font-size:21px;font-family:黑体">住&nbsp; 所</span><span style="font-size:21px;font-family:仿宋">:XXX</span>
</p>
<p style="text-indent:43px;line-height:39px">
    <span style="font-size:21px;font-family:黑体">法定代表人</span><span style="font-size:21px;font-family:仿宋">:XXX</span>
</p>
<p style="text-indent:43px;line-height:39px">
    <span style="font-size:21px;font-family:黑体">被申请人</span><span style="font-size:21px;font-family:仿宋">:XXX</span><span style="font-size:21px;font-family:仿宋">（自然人的姓名、性别、民族、出生年月日、身份证号、工作单位、邮政编码、联系电话；法人或者非法人组织的名称、邮政编码、联系电话）</span>
</p>
<p style="text-indent:43px;line-height:39px">
    <span style="font-size:21px;font-family:黑体">住 &nbsp;&nbsp;&nbsp;所</span><span style="font-size:21px;font-family:仿宋"> :XXX</span>
</p>
<p style="text-indent:43px;line-height:39px">
    <span style="font-size:21px;font-family:黑体">被申请人</span><span style="font-size:21px;font-family:仿宋">:XXX</span><span style="font-size:21px;font-family:仿宋">（自然人的姓名、性别、民族、出生年月日、身份证号、工作单位、邮政编码、联系电话；法人或者非法人组织的名称、邮政编码、联系电话）</span>
</p>
<p style="text-indent:43px;line-height:39px">
    <span style="font-size:21px;font-family:黑体">住 &nbsp;&nbsp;&nbsp;所 </span><span style="font-size:21px;font-family:仿宋">:XXX</span>
</p>
<p style="text-indent:43px;line-height:39px">
    <span style="font-size:21px;font-family:黑体">法定代表人</span><span style="font-size:21px;font-family:仿宋">:XXX</span>
</p>
<p style="text-align:center">
    <span style="font-size:21px;font-family:黑体">请求事项</span>
</p>
<p style=";text-indent:43px;line-height:39px">
    <span style="font-size:21px;font-family:仿宋_GB2312">（一）裁定被申请人XXX偿还贷款本金XXX元及截止到XX年XX月XX日未偿还的利息XX、罚息XX元，合计XXX元；利息、罚息计算至实际执行之日止；</span>
</p>
<p style=";text-indent:43px;line-height:39px">
    <span style="font-size:21px;font-family:仿宋_GB2312">（二）裁定被申请人XXX、XXX对上述贷款本息承担连带责任；</span>
</p>
<p style=";text-indent:43px;line-height:39px">
    <span style="font-size:21px;font-family:仿宋_GB2312">（三）裁定申请人对三被申请人抵押的房产享有优先受偿权；</span>
</p>
<p style=";text-indent:43px;line-height:39px">
    <span style="font-size:21px;font-family:仿宋_GB2312">（四）裁定本案仲裁费用由上列三被申请人承担。</span>
</p>
<p style="text-align:center">
    <span style="font-size:21px;font-family:黑体">事实与理由</span>
</p>
<p style="line-height:150%">
    <span style="font-size:14px;line-height:150%;font-family:宋体;color:black">&nbsp; </span><span style="font-size:21px;line-height:150%;font-family:仿宋_GB2312">&nbsp;</span><span style="font-size:21px;line-height:150%;font-family:仿宋_GB2312">（主要说明事实经过及申请的理由）</span><span style="font-size:14px;line-height:150%;font-family:宋体;color:black">&nbsp;&nbsp; &nbsp; </span>
</p>
<p style="line-height:32px">
    <span style="font-size:21px;font-family:仿宋_GB2312">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
</p>
<p style="line-height:32px">
    <span style="font-size:21px;font-family:仿宋_GB2312">&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:仿宋_GB2312">此致</span>
</p>
<p style="line-height:32px">
    <span style="font-size:21px;font-family:仿宋_GB2312">石家庄仲裁委员会&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
</p>
<p style="line-height:32px">
    <span style="font-size:21px;font-family:仿宋_GB2312">&nbsp;</span>
</p>
<p style="line-height:32px">
    <span style="font-size:21px;font-family:仿宋_GB2312">&nbsp;&nbsp;&nbsp;&nbsp; </span>
</p>
<p style="text-align:center;line-height:32px">
    <span style="font-size:21px;font-family:仿宋_GB2312">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:仿宋_GB2312">申请人：XXX（签字或盖章）</span>
</p>
<p style="text-align:center;line-height:32px">
    <span style="font-size:21px;font-family:仿宋_GB2312">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:仿宋_GB2312">年&nbsp;&nbsp; 月&nbsp;&nbsp; 日</span>
</p>
<p>
    &nbsp;
</p>
<p>
    <br/>
</p>