<p style="margin-bottom:10px;text-align:center">
    <span style="font-size:29px;font-family:黑体;color:black">石家庄仲裁委员会</span>
</p>
<p style="margin-bottom:10px;text-align:center">
    <span style="font-size:29px;font-family:黑体;color:black">仲裁通知书（一）</span>
</p>
<p style="line-height:150%">
    <span style="font-size: 21px;line-height:150%;font-family:宋体">&nbsp;</span>　　　　<span style=";line-height:150%;font-family:宋体">：</span>
</p>
<p style="line-height:150%">
    <span style=";line-height:150%;font-family:宋体">&nbsp;</span>
</p>
<p style="line-height:150%">
    <span style=";line-height:150%;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style=";line-height:150%;font-family:宋体">你（你单位）和 &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
</p>
<p style="line-height:150%">
    <span style=";line-height:150%;font-family:宋体">石裁字[ &nbsp; ]第 &nbsp; &nbsp;号 &nbsp;因 &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;纠纷一案的仲裁申请书收悉。经审查，符合《中华人民共和国仲裁法》规定的受理条件，本会决定受理此案。现将有关事项通知如下：</span>
</p>
<p style="line-height:150%">
    <span style=";line-height:150%;font-family:宋体">&nbsp;&nbsp;&nbsp; 1</span><span style=";line-height:150%;font-family:宋体">、请将营业执照副本复印件（自然人提交本人居民身份证复印件）、法定代表人身份证明书和代理人授权委托书于&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 年&nbsp;&nbsp; 月&nbsp;&nbsp;&nbsp; 日前提交本会。</span>
</p>
<p style="line-height:150%">
    <span style=";line-height:150%;font-family:宋体">&nbsp;&nbsp;&nbsp; 2</span><span style=";line-height:150%;font-family:宋体">、请将与本案相关的证据材料一式五（三）份，并按本会证据清单整理好后，于 &nbsp;&nbsp;年&nbsp;&nbsp; 月&nbsp;&nbsp;&nbsp; 日前提交本会，如对方当事人是两人以上的，请增加相应份数。</span>
</p>
<p style="line-height:150%">
    <span style=";line-height:150%;font-family:宋体">&nbsp;&nbsp;&nbsp; 3</span><span style=";line-height:150%;font-family:宋体">、请于收到本通知之日起10（5）日内，按照《石家庄仲裁委员会仲裁规则》的规定，在《石家庄仲裁委员会仲裁员名册》中选定仲裁员，并书面通知本会。逾期，将由本会主任指定。</span>
</p>
<p style="line-height:150%">
    <span style=";line-height:150%;font-family:宋体">&nbsp;</span>
</p>
<p style="line-height:150%">
    <span style=";line-height:150%;font-family:宋体">&nbsp;</span>
</p>
<p style="line-height:150%">
    <span style=";line-height:150%;font-family:宋体">&nbsp;</span>
</p>
<p style="line-height:150%">
    <span style=";line-height:150%;font-family:宋体">　　　　　　　　　　　　　　　　　　　　　　　　&nbsp; 　　　</span>
</p>
<p style="line-height:150%">
    <span style=";line-height:150%;font-family:宋体">　　　　　　　　　　　　　 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;年　　月　　日</span>
</p>
<p style="line-height:150%">
    <span style=";line-height:150%;font-family:宋体">&nbsp;</span>
</p>
<p style="line-height:150%">
    <span style=";line-height:150%;font-family:宋体">&nbsp;</span>
</p>
<p style="line-height:150%">
    <span style=";line-height:150%;font-family:宋体">规则</span>
</p>
<p style="line-height:150%">
    <span style=";line-height:150%;font-family:宋体">名册</span>
</p>
<p style="line-height:150%">
    <span style=";line-height:150%;font-family:宋体">费用表</span>
</p>
<p style="line-height:150%">
    <font face="宋体">&nbsp;</font>
</p>
<p>
    <br/>
</p>