<p style="margin-bottom:10px;text-align:center">
    <span style="font-size:29px;font-family:黑体;color:black">石家庄仲裁委员会</span>
</p>
<p style="margin-bottom:10px;text-align:center">
    <span style="font-size:29px;font-family:黑体;color:black">&nbsp;</span><span style="font-size:29px;font-family:黑体;color:black">仲裁通知书（二）</span>
</p>
<p style="text-align:left">
    <span style=";font-family:宋体">&nbsp;</span>
</p>
<p style="text-align:left;line-height:37px;vertical-align:baseline">
    <span style=";font-family:宋体">　&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ：</span>
</p>
<p style="text-indent:28px;line-height:37px;vertical-align:baseline">
    <span style=";font-family:宋体">申请人&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 　　　　　　　　&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 与你（你单位）石裁字[&nbsp;&nbsp;&nbsp; ]第&nbsp;&nbsp;&nbsp; 号</span>
</p>
<p style="line-height:37px;vertical-align:baseline">
    <span style=";font-family: 宋体">因&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 纠纷向本会提出仲裁申请，经审查符合法律规定的受理条件，本会已决定受理此案。现将有关事项通知如下：</span>
</p>
<p style="line-height:37px;vertical-align:baseline">
    <span style=";font-family: 宋体">　　一、你方应在收到本通知书之日起15（5）日内向本会提交：</span>
</p>
<p style="line-height:37px;vertical-align:baseline">
    <span style=";font-family: 宋体">　　1、答辩书，不按期提交答辩书的，不影响案件的审理；如有反请求，也应在此期间内提出。</span>
</p>
<p style="line-height:37px;vertical-align:baseline">
    <span style=";font-family: 宋体">　　2、营业执照副本复印件（自然人为身份证复印件）。</span>
</p>
<p style="text-indent:28px;line-height:37px;vertical-align:baseline">
    <span style=";font-family:宋体">3</span><span style=";font-family:宋体">、相关证据材料一式五（三）份，如对方当事人是两人以上的，请增加相应份数。</span>
</p>
<p style="line-height:37px;vertical-align:baseline">
    <span style=";font-family:宋体">&nbsp;&nbsp; &nbsp;</span><span style=";font-family:宋体">二、请于收到本通知书之日起10（5）日内，按照《石家庄仲裁委员会仲裁规则》的规定，在《石家庄仲裁委员会仲裁员名册》中选定仲裁员，并书面通知本会。逾期，将由本会主任指定。　　　　　　　　　　　　　　　</span>
</p>
<p style="line-height:37px;vertical-align:baseline">
    <span style=";font-family: 宋体">　　　　　　　　&nbsp; 　　　</span>
</p>
<p style="text-align:left">
    <span style=";font-family:宋体">　　　　　　　　　　　　　　　</span>
</p>
<p style="text-align:left">
    <span style=";font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
</p>
<p style="text-align:left">
    <span style=";font-family:宋体">&nbsp;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style=";font-family:宋体">年　　月　　日</span>
</p>
<p>
    <span style=";font-family:宋体">&nbsp;</span>
</p>
<p style="line-height:150%">
    <span style=";line-height:150%;font-family:宋体">&nbsp;</span>
</p>
<p style="line-height:150%">
    <span style=";line-height:150%;font-family:宋体">&nbsp;</span>
</p>
<p style="line-height:150%">
    <span style=";line-height:150%;font-family:宋体">&nbsp;</span>
</p>
<p style="line-height:150%">
    <span style=";line-height:150%;font-family:宋体">规则</span>
</p>
<p style="line-height:150%">
    <span style=";line-height:150%;font-family:宋体">名册</span>
</p>
<p style="line-height:150%">
    <span style=";line-height:150%;font-family:宋体">费用表</span>
</p>
<p>
    <br/>
</p>